@charset "UTF-8";
audio {
  position: fixed;
  bottom: 12vh;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
  z-index: 20;
  width: 40vw;
  height: 40px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

audio::-webkit-media-controls-panel {
  background-color: #58699d;
}

audio:focus {
  display: none;
}

audio:hover {
  opacity: 100%;
}

.titleclass {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 65vw;
  height: 14vh;
  z-index: -1;
  background-color: #297045;
}

#headertitleid {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  color: #a8b6a021;
  font-size: 4rem;
  padding: 2vh;
  text-shadow: 2px 2px 10px #067a67;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
}

.bar {
  cursor: url("./img/fingerred.png"), url("./img/finger.png"), auto;
  position: fixed;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  width: 65vw;
  height: 6vh;
  background-color: #58699d;
  z-index: 10;
  overflow: hidden;
}

img[class="barobj"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 4vw;
  height: 60px;
}

#filter {
  cursor: url("./img/fingerblu.png"), url("./img/finger.png"), auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body {
  background-color: #585123;
  margin: 0;
}

.cardbodycontainer {
  cursor: url("./img/finger.png"), url("./img/fingerblu.png"), auto;
  background-color: #A8B6A0;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 28vh;
  bottom: 20vh;
  width: 65vw;
  height: 80vh;
  text-align: center;
  color: #14080E;
  font-family: Futura;
  font-weight: 300;
}

.cardbodyborder {
  position: absolute;
  width: 97%;
  height: 95.5%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: solid 2px #58699d;
}

input[type="text"] {
  background-color: #A8B6A0;
  cursor: url("./img/fingerblu.png"), url("./img/finger.png"), auto;
  position: relative;
  top: 6vh;
  margin: 2vh;
  width: 30vw;
  height: 50px;
  border: dashed 3px #58699d;
  font-size: 24px;
  text-align: right;
  text-transform: uppercase;
  text-shadow: 0px 0px 7px #698f79;
  padding: 5px;
  color: #A8B6A0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input::-webkit-input-placeholder {
  padding: 20px;
  color: #A8B6A0;
  text-align: right;
  text-shadow: 0px 0px 7px #698f79;
}

input:-ms-input-placeholder {
  padding: 20px;
  color: #A8B6A0;
  text-align: right;
  text-shadow: 0px 0px 7px #698f79;
}

input::-ms-input-placeholder {
  padding: 20px;
  color: #A8B6A0;
  text-align: right;
  text-shadow: 0px 0px 7px #698f79;
}

input::placeholder {
  padding: 20px;
  color: #A8B6A0;
  text-align: right;
  text-shadow: 0px 0px 7px #698f79;
}

input:hover {
  -webkit-filter: hue-rotate(30deg) saturate(30%);
          filter: hue-rotate(30deg) saturate(30%);
}

input:focus {
  outline: 0;
}

input:active {
  cursor: url("./img/fingerred.png"), url("./img/finger.png"), auto;
}

.list-group {
  position: relative;
  top: 7vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  padding: 0 0 0 0;
  height: 50vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.list-group-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-align: right;
  font-family: Helvetica;
  font-weight: 400;
  font-size: 0.9rem;
  text-shadow: 0px 0px 3.2px #58699d;
  color: #a8b6a00e;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.list-group-item:hover:before {
  content: "☺_";
  color: blue;
}

.list-group-item:hover {
  -webkit-filter: hue-rotate(30deg) opacity(60%) saturate(30%);
          filter: hue-rotate(30deg) opacity(60%) saturate(30%);
}

button {
  cursor: url("./img/fingerblu.png"), url("./img/finger.png"), auto;
  margin: 11px;
  padding: 6px;
  background-color: #A8B6A0;
  border: dashed 1.5px #58699d;
  height: 30px;
  font-size: 9px;
  font-family: Futura;
  font-weight: 800;
  color: #58699d;
}

button:focus {
  outline: 0;
  text-shadow: 0px 0px 3px black;
}

button:active {
  cursor: url("./img/fingerred.png"), url("./img/finger.png"), auto;
}

.pulse {
  text-shadow: 0px 0px 2px #58699d;
}

/* MEDIA QUERIES */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .cardbodycontainer {
    top: 20vh;
    bottom: 20vh;
    width: 85vw;
    height: 85vh;
  }
  .cardbodyborder {
    width: 95%;
    height: 95.5%;
  }
  .titleclass {
    width: 85vw;
    height: 12vh;
  }
  #headertitleid {
    font-size: 2rem;
    padding: 10px;
  }
  audio {
    position: fixed;
    bottom: 16vh;
    width: 60vw;
    height: 80px;
  }
  .bar {
    width: 85vw;
    height: 8vh;
  }
  img[class="barobj"] {
    width: 10vw;
    height: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  input[type="text"] {
    font-size: 16px;
    top: 3vh;
    margin: 2vh;
    width: 60vw;
    height: 50px;
  }
  .list-group {
    top: 5vh;
    width: 250px;
  }
  #filter {
    cursor: url("./img/fingerblu.png"), url("./img/finger.png"), auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    width: 100%;
  }
  #filter::-webkit-input-placeholder {
    text-align: left;
    font-size: 1rem;
    padding: 0;
  }
  #filter:-ms-input-placeholder {
    text-align: left;
    font-size: 1rem;
    padding: 0;
  }
  #filter::-ms-input-placeholder {
    text-align: left;
    font-size: 1rem;
    padding: 0;
  }
  #filter::placeholder {
    text-align: left;
    font-size: 1rem;
    padding: 0;
  }
}
